@import "starter.css";

/*---------------------*/
/*sidebar
/*-----------------------*/

.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    left: -100%;
    background: var(--primary-500);
    z-index: 150;
    transition: var(--transition);
}

.sidebar.toggle {
    left: 0;
}

/*overlay*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 120;
    display: none;
    transition: var(--transition);
}

.overlay .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: var(--primary-500);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: var(--round-sm);
    color: var(--white);
}

.sidebar.toggle ~ .overlay {
    display: block;
}


.sidebar .logo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--white);
    height: 60px;
    border-bottom: 1px solid var(--white);
    padding-inline: 20px;
    margin-inline: auto;
}

.sidebar.toggle .logo {
    justify-content: center;
}

.logo h3 {
    font-weight: var(--fw-700);
}

.logo i {
    font-size: 30px;
}

nav {
    margin-block-start: 50px;
}

nav .links-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    font-family: var(--ff-raleway);
    font-weight: var(--fw-700);
    padding-inline: 20px;
}

.link .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 10px;
    transition: var(--transition);
}

.title a i {
    font-size: 20px;
}

.title a .name {
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
}

.link .title a {
    display: flex;
    align-items: center;
    gap: 20px;
}


.link.active .title {
    background: var(--primary-100);
    color: var(--primary-900);
    border-radius: var(--round-sm);
}

.link.active .fa-chevron-down {
    transition: var(--transition);
    transform: rotate(180deg);
}

.link:hover:not(.active) .title {
    background: var(--primary-100);
    border-radius: var(--round-sm);
}

.link:hover .title {
    color: var(--primary-900);
}

/*submenu*/

.link .submenu {
    height: 0;
    width: 0;
    opacity: 0;
    transition: var(--transition);
}

.link.active .submenu {
    width: unset;
    height: unset;
    opacity: 1;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: var(--primary-200);
    border-radius: var(--round-sm);
    font-family: var(--ff-raleway);
}

.link:not(.has-submenu) .submenu {
    display: none;
}

.submenu .submenu-title {
    display: none;
}

.submenu .sub-link {
    color: var(--primary-500);
    font-weight: var(--fw-600);
}

.submenu .sub-link:hover {
    color: var(--primary-900);
}


/*---------------------*/
/*header
/*-----------------------*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    box-shadow: var(--shadow-md);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 60px;
    padding-inline: 30px;
    transition: var(--transition);
}

.header-brand {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .toggle-btn, header .toggle-btn-sm {
    font-size: 30px;
    cursor: pointer;
}

.header-brand .toggle-btn {
    display: none;
}

.header-brand .name {
    display: block;
}

.user-account-container {
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.user-account {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.user-account span {
    display: none;
}

.user-account .user-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: var(--round-full);
}

.user-account-container .user-account-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    padding-block: 10px;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    /*transition: var(--transition);*/
    z-index: 1;
}

.user-account-dropdown::before {
    content: '';
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background: var(--white);
    position: absolute;
    top: 5px;
    right: 25px;
    z-index: -1;
}

.dropdown-content {
    padding-inline: 20px;
    background: var(--white);
    border-radius: var(--round-md);
    box-shadow: var(--shadow-md);
}

.user-account-container:hover .user-account-dropdown {
    opacity: 1;
    width: max-content;
    height: max-content;
    pointer-events: unset;
}

.user-account-dropdown .user-name {
    padding-block: 10px;
    border-bottom: 1px solid var(--primary-900);
    text-transform: capitalize;
    font-weight: var(--fw-700);
    text-align: center;
}

.user-account-dropdown .user-account-link {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-block: 10px;
    cursor: pointer;
    color: var(--primary-700);
    transition: var(--transition);
}

.user-account-dropdown .user-account-link:hover {
    color: var(--primary-900);
}

.user-account-link span {
    text-transform: capitalize;
}

.user-account-link:last-child {
    border-top: 1px solid var(--primary-900);
    margin-top: 10px;
    color: var(--red-400);
}

.user-account-link:last-child:hover {
    transition: var(--transition);
    color: var(--red-500);
}


/*---------------------*/
/*main content
/*-----------------------*/

main {
    height: 100vh;
    padding-top: 60px;
    width: 100%;
    transition: var(--transition);
}


main .main-content {
    min-height: 100%;
    position: relative;
    padding: 20px 20px 70px;
}

/*footer*/
.main-content footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white);
    box-shadow: var(--shadow-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    width: 100%;
    height: 60px;
}

@media screen and (min-width: 992px) {
    /*sidebar*/
    .sidebar {
        width: 78px;
        left: 0;
    }

    .overlay {
        display: none !important;
    }

    .sidebar .logo .name,
    .sidebar .links-list .link .title .name,
    .sidebar .links-list .link .title .fa-chevron-down {
        display: none;
    }

    .sidebar .links-list .link:not(.has-submenu) .submenu {
        display: block;
    }

    .sidebar .links-list .link {
        position: relative;
    }

    .sidebar .links-list .link .submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        background: var(--primary-500);
        height: max-content;
        width: max-content;
        gap: 10px;
        opacity: 0;
        padding: 10px;
        border-radius: 0 var(--round-sm) var(--round-sm) 0;
        transition: all .5s ease;
        pointer-events: none;
    }

    .sidebar .links-list .link:hover .submenu {
        opacity: 1;
        top: 0;
        pointer-events: inherit;
    }

    .sidebar .links-list .link .submenu .sub-link {
        color: var(--white);
    }

    .sidebar .links-list .link .submenu .sub-link:hover:not(.submenu-title) {
        color: var(--primary-700);
    }

    .sidebar .links-list .link .submenu .submenu-title {
        display: block;
        font-size: 18px;
        border-radius: var(--round-sm);
        color: var(--primary-900);
        cursor: default;
    }

    /*header*/
    header {
        width: calc(100% - 78px);
        left: 78px;
    }

    header .toggle-btn-sm, header .toggle-btn {
        display: none;
    }

    .user-account span {
        display: block;
    }

    .user-account-dropdown .user-name {
        display: none;
    }

    /*main*/
    main {
        width: calc(100% - 78px);
        margin-left: 78px;
    }

}

@media screen and (min-width: 1200px) {
    /*sidebar*/
    .sidebar {
        width: 250px;
    }

    .sidebar .logo .name,
    .sidebar .links-list .link .title .name,
    .sidebar .links-list .link .title .fa-chevron-down {
        display: block;
    }

    .sidebar .links-list .link {
        position: static;
    }

    .sidebar .links-list .link .submenu {
        position: static;
        display: none;
    }


    .sidebar .links-list .link.active .submenu {
        width: unset;
        height: unset;
        opacity: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 5px;
        padding: 10px;
        background: var(--primary-200);
        border-radius: var(--round-sm);
        font-family: var(--ff-raleway);
    }


    .sidebar .links-list .link:not(.has-submenu) .submenu {
        display: none;
    }

    .sidebar .links-list .link .submenu .submenu-title {
        display: none;
    }

    .sidebar .links-list .link .submenu .sub-link {
        color: var(--primary-500);
    }

    .sidebar:not(.toggle) .links-list .link .submenu .sub-link:hover {
        background: var(--primary-300);
        padding-left: 10px;
    }

    /*sidebar toggle*/
    .sidebar.toggle {
        width: 78px;
    }

    .sidebar.toggle .logo .name,
    .sidebar.toggle .links-list .link .title .name,
    .sidebar.toggle .links-list .link .title .fa-chevron-down {
        display: none;
    }

    .sidebar.toggle .links-list .link:not(.has-submenu) .submenu {
        display: block;
    }

    .sidebar.toggle .links-list .link {
        position: relative;
    }

    .sidebar.toggle .links-list .link .submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        background: var(--primary-500);
        height: max-content;
        width: max-content;
        gap: 10px;
        opacity: 0;
        padding: 10px;
        border-radius: 0 var(--round-sm) var(--round-sm) 0;
        transition: all .5s ease;
        pointer-events: none;
    }

    .sidebar.toggle .links-list .link:hover .submenu {
        opacity: 1;
        top: 0;
        pointer-events: inherit;
    }

    .sidebar.toggle .links-list .link .submenu .sub-link {
        color: var(--white);
    }

    .sidebar.toggle .links-list .link .submenu .sub-link:hover:not(.submenu-title) {
        color: var(--primary-700);
    }

    .sidebar.toggle .links-list .link .submenu .submenu-title {
        display: block;
        font-size: 18px;
        color: var(--primary-900);
        cursor: default;
    }


    /* header*/
    header {
        width: calc(100% - 250px);
        left: 250px;
    }

    header .header-brand .name, header .header-brand .toggle-btn-sm {
        display: none;
    }

    header .header-brand .toggle-btn {
        display: block;
    }

    .sidebar.toggle ~ main header {
        left: 78px;
        width: calc(100% - 78px);
    }

    /*main*/
    main {
        width: calc(100% - 250px);
        margin-left: 250px;
    }

    .sidebar.toggle ~ main {
        width: calc(100% - 78px);
        margin-left: 78px;
    }
}





